/* navbar.css */
.navbar-dash {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: white;
  padding: 2rem;
  height: 100vh;
  width: auto;
  top: 0;
  left: 0;
  z-index: 100;
}

.banner-image {
  width: 150px;
  margin-bottom: 2rem;

}

.navbar-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background-color: #f8fafc;
  padding: 15px;
  width: auto;
  gap: 1rem;
  text-align: center;
}

.navbar-all-product,
.navbar-add-product {
  color: black;
  background: white;
  border: 1px solid #ddd;
  text-wrap: nowrap;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.navbar-all-product:hover,
.navbar-add-product:hover {
  background: #5c59e8;
  color: white;
}
